*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
/.settings/
/.project
/.classpath

/target/
/output/
/test/output/
/bin/

# IntelliJ
/.idea/
*.iml

# MATSim files and outputs
**/output
scenarios/base_scenario-santiago
*pom.xml
output.log
/.apt_generated/
/.apt_generated_tests/
